:root {
    --azulPrincipal: #4F46E5;
    --azulSecundario: #46b8e5;
    --fundo: #F8FAFC;
    --texto:  #111827;
    --textoSuple: #525252;
    --sucesso:  #16A34A;
    --erro:  #DC2626;
    --bordas: #D0D5DD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fundo);
    color: var(--texto);
    font-family: "Space Grotesk", sans-serif;
    cursor: default;
}

body::-webkit-scrollbar{
    display: none;
}

/* Inicio Login*/

.mainLogin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.infoLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--fundo);
    gap: 15px;
    height: 100%;
    width: 40%;
    font-size: 1.5rem;
}

.introInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 90%;
    height: 30%;
    gap: 10px;
}

.introInfo h1{
    width: 10ch;
}

.textAgenda {
    color: var(--azulPrincipal);
}

.textAgenda.on{
    animation: pisca-barra .4s infinite ease-in-out;
}

@keyframes pisca-barra{
    0%{
        border-right: 1px solid var(--texto);
    } 100% {
        border: none;
    }
}

.introInfo h2{
    font-size: 1.1rem;
    color: var(--textoSuple);
}

.topicosInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    font-size: 1.1rem;
    height: 70%;
    width: 90%;
}

.topicosInfo li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.indiceTopico{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--azulPrincipal);
    background: var(--texto);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.contLogin{
    background-image: linear-gradient(45deg, var(--azulPrincipal), var(--texto));
    height: 100%;
    width: 60%;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formLogin{
    background: rgba(168, 232, 236, 0.1);
    color: var(--bordas);
    backdrop-filter: blur(10px);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    align-items: center;
    min-width: 40%;
    min-height: 50%;
    gap: 50px;
}

.formLogin h2{
    display: flex;
    align-items: flex-start;
}

.inputsLogin{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.campoLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.campoLogin input{
    width: 32ch;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgba(227, 243, 250, 0.4);
    color: var(--texto);
}

.viewPass, .unViewPass{
    color: var(--fundo);
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.viewPass.on, .unViewPass.on{
    display: flex;
}

.campoLogin input::placeholder{
    color: var(--texto);
    opacity: 0.5;
}

#btnEntrar{
    border-radius: 5px;
    background: var(--fundo);
    color: var(--texto);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: .5s ease-in-out;
    box-shadow: 2px 1px 0px 2px rgba(0, 0, 0, 0.7);
}

#btnEntrar:hover{
    color: var(--sucesso);
    transform: translateY(2px);
    box-shadow: none;
}

.feedbackLogin.erro{
    color: var(--erro);
}

.feedbackLogin.certo{
    color: var(--sucesso);
}

.textCadastro{
    font-size: 0.8rem;
}

.openCadastro{
    color: var(--azulSecundario);
    cursor: pointer;
}

/* Final Login*/

/* DashBoard */

.mainDash{
    display: flex;
    background: var(--bordas);
    width: 100%;
}

.btnMenuMobile{
    display: none;
    position: fixed;
    top: 5px;
    left: 5px;
}

.btnMobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    padding: 5px;
    width: 35px;
    height: 30px;
    cursor: pointer;
}

.btnMobile span{
    background: var(--texto);
    height: 4px;
    width: 100%;
    transition: transform .5s ease-in-out;
}

.btnMobile.on span{
    background: var(--erro);
}

.btnMobile.on span:nth-child(1){
    transform: rotate(45deg) translate(12px, 11px);
}

.btnMobile.on span:nth-child(2){
    opacity: 0;
    width: 0;
    height: 0;
}

.btnMobile.on span:nth-child(3){
    transform: rotate(-45deg);
}

.infoDash{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: 100vh;
    background: var(--texto);
}

.titleDash{
    font-size: 2rem;
    color: var(--fundo);
}

.titleDash span{
    color: var(--azulSecundario);
}

.navDash{
    display: flex;
    align-items: center;
    height: 100%;
}

.navDash ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    gap: 20px;
    font-size: 1.5rem;
}

.navDash ul a {
    position: relative;
    text-decoration: none;
    color: var(--fundo);
}

.navDash ul a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid var(--fundo);
    pointer-events: none;
    opacity: 0;
    transition: transform .5s ease-in-out;
    transform: translateY(10px);
}

.navDash ul a:hover::after{
    opacity: 1;
    transform: translateY(0px);
}

.navDash ul a.select{
    text-decoration: underline;
    text-underline-offset: 8px; 
}

.navDash ul a.select:hover{
    text-decoration: none;
}

.btnsContaDash{
    display: flex;
    height: 30%;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 24px;
    width: 100%;
}

.btnConta, .btnConfig, .btnLogout{
    position: relative;
    min-width: 50px;
    min-height: 50px;
    background: none;
    border: none;
    color: var(--fundo);
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.btnConta::after, .btnConfig::after, .btnLogout::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border-right: 1px solid var(--azulSecundario);
    opacity: 0;
    transition: transform .5s ease-in-out;
}

.btnLogout::after{
    border-color: 1px solid var(--erro);
}

.btnConta:hover::after, .btnConfig:hover::after, .btnLogout:hover::after{
    opacity: 1;
    transform: rotate(360deg);
}

.btnConta:hover{
    transform: translateY(-10px);
}

.btnConfig:hover{
    transform: translateY(-10px);
}

.btnLogout:hover{
    transform: translateY(-10px);
    color: var(--erro);
}

.contDash{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 20px;
    place-content: center;
}

.boxContDash{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--fundo);
    width: 100%;
    height: 140px;
    font-size: 1.5rem;
    border-radius: 10px;
}

.titleBoxDash{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1rem;
    color: var(--textoSuple);
}

.contBoxDash{
    flex: 1;
    display: flex;
    align-items: center;
}

.bigBoxContDash{
    grid-column: span 3;
    padding: 15px;
    border-radius: 15px;
    background: var(--fundo);
    min-height: 50vh;
}

.colunaBoxContDash{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--fundo);
    border-radius: 15px;
    min-height: 50vh;
    padding: 15px;
}

.colunaBoxContDash h2{
    flex: 0;
    color: var(--texto);
}

.nameUser{
    color: var(--textoSuple);
}

.listaTarefasHoje{
    height: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    flex: 1;
}

#tarefasHoje{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 18vh;
    overflow-y: scroll;
    gap: 15px;
}

#tarefasHoje::-webkit-scrollbar{
    display: none;
}

#tarefasHoje:has(.semTarefas){
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

.tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnsTask{
    background: none;
    border: none;
    font-size: 1.2rem;
}

.linhaTask{
    display: block;
    width: 100%;
    height: 3px;
    background: var(--textoSuple);
    padding: 1px;
}

.semTarefas{
    display: none;
}

.semTarefas.on{
    font-size: .9rem;
    display: block;
}

.btnNewTask{
    border-radius: 10px;
    background: var(--bordas);
    border: 1px solid var(--texto);
    padding: 5px;
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 1);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.btnNewTask:hover{
    box-shadow: none;
    transform: translateY(2px);
}

.btnNewTask:active{
    transform: translateY(-1px);
}

.modalNewTask{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    z-index: 9999; 
}

.modalNewTask.on{
    display: block;
    position: fixed;
    animation: subirModal .5s ease-in-out;
}

@keyframes subirModal {
    0% {
        transform: translate(-50%, 100%);
    } 100% {
        transform: translate(-50%, -50%);
    }
}

.contModalNewTask{
    width: 50%;
    height: 60%;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--texto);
}

.btnCloseModal{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    color: var(--fundo);
    border: none;
}

#formNewTask{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    color: var(--fundo);
    font-size: .8rem;
}

#formNewTask h3{
    font-size: 1.5rem;
}

#formNewTask p{
    color: var(--bordas);
}

.boxCamposInputs{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    gap: 30px;
}   

.campoInputNewTask{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 25%;
}

#nameTask{
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.campoInputNewTask textarea{
    resize: none;
    width: 100%;
    height: 100%;
}

.btnModalCreateNewTask{
    display: flex;
    align-items: center;
    padding: 10px;
}

@media (max-width: 768px) {
    /* Login */
    .mainLogin{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
    }
    .infoLogin{
        flex: 0;
    }
    .introInfo{
        display: flex;
        align-items: center;
        min-width: 100%;
        justify-content: center;
        flex: 1;
        font-size: .9rem;
    }
    .introInfo h1{
        width: 20ch;
        text-align: center;
    }
    .introInfo h2{
        display: none;
    }
    .topicosInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 0;
        gap: 10px;
        font-size: .5rem;
        padding: 10px;
    }
    .indiceTopico{
        height: 15px;
        width: 30px;
        font-size: .5rem;
    }
    .contLogin{
        width: 100%;
        border-radius: 0;
        flex: 1;
    }
    .formLogin{
        min-width: 100%;
        height: 100vh;
        background: none;
        backdrop-filter: initial;
    }

    /* Dashboard*/
    .btnMenuMobile{
        display: block;
        z-index: 1000;
    }

    .infoDash{
        opacity: 0;
        transform: translateX(-100%);
        width: 0;
        transition: transform .5s ease-in-out;
    }

    .infoDash.on{
        opacity: 1;
        min-width: 100%;
        position: fixed;
        transform: translateX(0);
    }

    .contDash{
        place-content: initial;
    }

    .bigBoxContDash{
        grid-column: span 2;
        grid-row: 4;
    }

    .colunaBoxContDash{
        grid-row: 1/3;
        grid-column: 2;
    }

    .contModalNewTask{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}